{% include 'include.html' %}
{% include 'navbar.html' %}
{% block body %}
<h1 class="text-center">Về Chúng Tôi </h1>
<p class="text-justify" id="about-p"><h3>Hợp Tác</h3>
Đội ngũ nhân viên của phòng khám luôn làm việc chặt chẽ với các văn phòng bác sĩ chuyên khoa, nhà dưỡng lão, và bệnh viện dưới sự hướng dẫn của bác sĩ nhằm đảm bảo sự điều trị tốt nhất trong quá trình chăm sóc sức khoẻ cho bệnh nhân. Nhờ vậy, chúng tôi luôn có được sự hài lòng và tín nhiệm tuyệt đối từ bệnh nhân cùng với gia đình.</p>
<p class="text-justify" id="about-p1"><h3>Thuận Tiện</h3>
Dịch vụ chăm sóc tại gia đem lại nhiều lợi ích cho bệnh nhân, đặc biệt là những người lớn tuổi có nhu cầu khám chữa bệnh tại nhà. Mọi quy trình từ khám bệnh, cho thuốc, các xét nghiệm như chụp hình quang tuyến, thử máu sẽ được thực hiện tại nhà của quý vị nhằm đem đến sự thoải mái và tiện nghi nhất.</p>
<p class="text-justify" id="about-p-1"><h3>Toàn Diện</h3>
Là một trong những đội ngũ bác sĩ tại gia hàng đầu ở TP Hồ Chí Minh, chúng tôi cung cấp các dịch vụ y tế chuyên nghiệp, tận tình và nhanh chóng nhất cho bệnh nhân tại tư gia, nhà dưỡng lão, khu chăm sóc đặc biệt. Xin vui lòng gọi chúng tôi qua đường dây (84) 560 – 9999 để đặt lịch hẹn ngay hôm nay.&nbsp;</p>
<div class="scroll-top-wrapper"><span class="scroll-top-inner"><i class="fa fa-arrow-circle-up"></i></span></div>
{% endblock %}