<div id="sidebar-wrapper">
    <ul class="sidebar-nav">
        <li> <a href="{% url 'adminhome' %}">Trang Chủ</a></li><!-- style="color: white;background-color: grey;"-->
        <li> <a href="{% url 'adminaddDoctor' %}">Thêm Bác Sĩ</a></li>
        <li> <a href="{% url 'adminviewDoctor' %}">Xem Bác Sĩ</a></li>
        <li> <a href="{% url 'adminaddReceptionist' %}">Thêm Điều Dưỡng</a></li>
        <li> <a href="{% url 'adminviewReceptionist' %}">Xem Điều Dưỡng</a></li>
        <li> <a href="{% url 'adminviewAppointment' %}">Xem Lịch Hẹn</a></li>
        <li> <a href="{% url 'adminlogout' %}">Thoát</a></li>
    </ul>
</div>