{% include 'include.html' %}
{% include 'navbar.html' %}
{% block body %}
{% load static %}
<div class="row register-form">
    <div class="col-md-8 offset-md-2">
        <form class="custom-form" style="margin-top: 0px;" method="post">
            {% csrf_token %}
            <h1>Đăng kí khám bệnh</h1>
            <div class="form-row form-group">
                <div class="col-sm-4 label-column">
                    <label class="col-form-label" for="name-input-field">Tên </label>
                </div>
                <div class="col-sm-6 input-column">
                    <input class="form-control" type="text" name="name" required="">
                </div>
            </div>
            <div class="form-row form-group">
                <div class="col-sm-4 label-column">
                    <label class="col-form-label" for="email-input-field">Email </label>
                </div>
                <div class="col-sm-6 input-column">
                    <input class="form-control" type="email" name="email" required="">
                </div>
            </div>
            <div class="form-row form-group">
                <div class="col-sm-4 label-column">
                    <label class="col-form-label" for="pawssword-input-field">Mật Khẩu </label>
                </div>
                <div class="col-sm-6 input-column">
                    <input class="form-control" type="password" name="password" required="">
                </div>
            </div>
            <div class="form-row form-group">
                <div class="col-sm-4 label-column">
                    <label class="col-form-label" for="repeat-pawssword-input-field">Nhập lại Mật Khẩu</label>
                </div>
                <div class="col-sm-6 input-column">
                    <input class="form-control" type="password" name="repeatpassword" required="">
                </div>
            </div>
            <div class="form-row form-group">
                <div class="col-sm-4 label-column">
                    <label class="col-form-label" for="dropdown-input-field">Giới Tính</label>
                </div>
                <div class="col-sm-6 input-column">
                    <select class="form-control" name="gender" required="">
                        <optgroup label="Chọn Giới Tính">
                            <option value="Male">Nam</option>
                            <option value="Female">Nữ</option>
                        </optgroup>
                    </select>
                </div>
            </div>
            <div class="form-row form-group">
                <div class="col-sm-4 label-column">
                    <label class="col-form-label" for="name-input-field">Số Điện Thoại</label>
                </div>
                <div class="col-sm-6 input-column">
                    <input class="form-control" type="tel" name="phonenumber" required="">
                </div>
            </div>
            <div class="form-row form-group">
                <div class="col-sm-4 label-column">
                    <label class="col-form-label" for="name-input-field">Địa Chỉ</label>
                </div>
                <div class="col-sm-6 input-column">
                    <textarea class="form-control" name="address" required=""></textarea>
                </div>
            </div>
            <div class="form-row form-group">
                <div class="col-sm-4 label-column">
                    <label class="col-form-label" for="name-input-field">Ngày Sinh</label>
                </div>
                <div class="col-sm-6 input-column">
                    <input class="form-control" type="date" name="dateofbirth" required="">
                </div>
            </div>
            <div class="form-row form-group">
                <div class="col-sm-4 label-column">
                    <label class="col-form-label" for="name-input-field">Nhóm Máu</label>
                </div>
                <div class="col-sm-6 input-column">
                    <select class="form-control" name="bloodgroup" required="">
                        <optgroup label="Chọn Nhóm Máu">
                            <option value="O+" selected="">O+</option>
                            <option value="O-">O-</option>
                            <option value="A+">A+</option>
                            <option value="A-">A-</option>
                            <option value="B+">B+</option>
                            <option value="B-">B-</option>
                            <option value="AB+">AB+</option>
                            <option value="AB-">AB-</option>
                        </optgroup>
                    </select>
                </div>
            </div>
            <button class="btn btn-primary submit-button" type="submit">Tạo Tài Khoản</button>
        </form>
    </div>
</div>
<div class="scroll-top-wrapper"><span class="scroll-top-inner"><i class="fa fa-arrow-circle-up"></i></span></div>
{% ifequal error "no" %}
<script type="text/javascript">
    alert('Tạo tài khoản thành công ')
    window.location = ('{% url 'loginpage' %}')
</script>
{% endifequal%}

{% ifequal error "yes" %}
<script type="text/javascript">
    /*alert('{{e}}')*/
    alert('Tạo tài khoản không thành công')
</script>
{% endifequal%}
{% endblock %}